.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 115px;
    height: 50px;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;

      margin-bottom: 5px;
    }

    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: column;

      text-transform: uppercase;
      font-weight: 500;

      cursor: pointer;
      padding: 12px 24px;
      width: 120px;
      text-align: center;
      font-weight: bold;
      border-radius: 18px;
      transition: background 0.1s, color 0.1s;
      background: linear-gradient(145deg, #ffffff, #dcdcdc);
      box-shadow:  3px 3px 5px #bebebe,
                  -3px -3px 5px #ffffff;

      &:hover {
        background: linear-gradient(145deg, #f4f4f4, #cecece);
      }
    }

    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 90%;
  max-width: 50rem;
  min-height: 5rem;
  margin: auto;
  padding: 2em 3em;
  border-radius: 5rem;
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translateX(-50%);
  transition: all 500ms ease-in-out;
  z-index: 1000;
  background: linear-gradient(145deg, #ffffff, #dcdcdc);
  box-shadow:  3px 3px 5px #bebebe,
            -3px -3px 5px #ffffff;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      text-align: center;

      a {
        color: var(--gray-color);
        text-decoration: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;

        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--secondary-color);

          p {
            font-size: small;
          }
        }
      }
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}
